// Переменные цветов
$primary-color: red;
$default-color: blue;

// Родитель
// Здесь надо определять общие для всех кнопок свойства
.button {
	padding: 20px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background:#fff;
	color: #000;

	// Дети
	// Здесь определяй только специфичные для кнопок свойства

	&.button--primary {
		background: $primary-color;
		border-color: darken($primary-color, 10%);
		&:hover {
			background: lighten($primary-color, 20%);
		}
	}
	&.button--default {
		background: $default-color;
		border-color: darken($default-color, 10%);
		&:hover {
			background: lighten($default-color, 20%);
		}
	}
	// ... etc

	// Вариант попроще сделать миксин, для этого определи массив из названия темы, цвета и параметра
	// Затем в цикле пройдись по массиву и заполни цветами и названиями миксин
}