@charset "UTF-8";
@import 'mixins';
@import '../vendor/sass-mq/mq';
@include mq-add-breakpoint(notebook, 1200px);

body {
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 50px;
	font-size: 14px;
	background-color: #ffffff;
	@import 'components/table/table';
	.container {
		width: 1200px;
		margin: 0px auto;
		@include mq($until: notebook) {
			width: 100%;
		}
	}
}