doctype html
html
	include ./elements/_head.jade
	body
		include ./components/_preloader.jade
		#table-region
		//- #app
			//- .container
				//- .user
				//- 	.avatar
				//- 	.data
				//- 	.dates

			
	include ./elements/templates.jade
	include ./elements/scripts.jade