doctype html
html
	include ./elements/_head.jade
	body
		include ./components/_preloader.jade
		.container
			.row
				.col-md-12
					#main-region
		script(type="text/template")#static-template
			<%= firstName %> <%= lastName %>

	include ./elements/scripts.jade