script(src="../vendor/jquery/dist/jquery.min.js")
script(src="../vendor/underscore/underscore-min.js")
script(src="../vendor/backbone/backbone-min.js")
script(src="../vendor/marionette/lib/backbone.marionette.min.js")
script(src="js/app.js")