script(type="text/template")#avatar
	table
		tbody
			tr
				td
					img.img-resposive(src!="<%= user_image %>", alt="")
				td
					a(href!="<%= user_name_href %>", target="_blank") <%= user_name %>

script(type="text/template")#data
	table
		tbody
			tr
				td
					table
						tbody
							tr
								td
									| Role
							tr
								td.table__td__title
									| <%= data_role %>
				td
					table
						tbody
							tr
								td
									| Annual Sales Objective
							tr
								td.table__td__title
									| <%= data_annual_sales %>
			tr
				td
					table
						td
							tr
								td
									| Coach
							tr
								td.table__td__title
									| <%= data_coach %>
				td
					table
						td
							tr
								td
									| Predicted Sales
							tr
								td.table__td__title--red
									| <%= data_predicted_sales %>

script(type="text/template")#dates
	table
		thead
			tr
				th(colspan="2")
					| Year To Date
		tbody
			tr
				td
					table
						tbody
							tr
								td
									table
										tbody
											tr
												td
													| New Opportunities
											tr
												td.table__td__title
													| <%= new_opp_created %> created - <%= new_opp_expected %> expected
							tr
								td
									table
										tbody
											tr
												td
													| Closed Won
											tr
												td.table__td__title
													| <%= closed_won_wins %> wins - <%= closed_won_expected %> expected
				td
					table
						tbody
							tr
								td
									table
										tbody
											tr
												td
													| Sales vs. Target
											tr
												td
													
											tr
												td
													table
														tbody
															tr
																td
																	| $<%= dates_sales %> / $<%= dates_target %>
																td.table__td--right
																	| <%= sales_vs_target_percentage %>
